<li>
	<a href="https://scholar.google.com/citations?user=UXscgtgAAAAJ&hl=en" itemprop="sameAs">
		<i class="ai ai-google-scholar ai-fw"></i> Google Scholar
	</a>
</li>

<li>
	<a href="https://www.researchgate.net/profile/Marvin-Fritz" itemprop="sameAs">
		<i class="ai ai-researchgate ai-fw"></i> ResearchGate
	</a>
</li>

<li>
	<a href="https://arxiv.org/a/fritz_m_1" itemprop="sameAs">
		<i class="ai ai-arxiv ai-fw"></i> arXiv
	</a>
</li>

<li>
	<a href="https://orcid.org/0000-0002-8360-7371" itemprop="sameAs">
		<i class="ai ai-orcid ai-fw"></i> ORCID
	</a>
</li>
