<li>
  <a href="https://scholar.google.com/citations?user=UXscgtgAAAAJ&hl=en" itemprop="sameAs">
    <i class="ai ai-google-scholar ai-fw" aria-hidden="true"></i>
    <span>Google Scholar</span>
  </a>
</li>
<li>
  <a href="https://www.researchgate.net/profile/Marvin-Fritz" itemprop="sameAs">
    <i class="ai ai-researchgate ai-fw" aria-hidden="true"></i>
    <span>ResearchGate</span>
  </a>
</li>
<li>
  <a href="https://arxiv.org/a/fritz_m_1" itemprop="sameAs">
    <i class="ai ai-arxiv ai-fw" aria-hidden="true"></i>
    <span>arXiv</span>
  </a>
</li>
<li>
  <a href="https://orcid.org/0000-0002-8360-7371" itemprop="sameAs">
    <i class="ai ai-orcid ai-fw" aria-hidden="true"></i>
    <span>ORCID</span>
  </a>
</li>
