<li>
	<a href="https://scholar.google.com/citations?user=vcSEoi4AAAAJ&hl=en" itemprop="sameAs">
		<i class="ai ai-google-scholar ai-fw"></i> Google Scholar
	</a>
</li>

<li>
	<a href="https://www.researchgate.net/profile/Brendan_Keith" itemprop="sameAs">
		<i class="ai ai-researchgate ai-fw"></i> ResearchGate
	</a>
</li>

<li>
	<a href="https://arxiv.org/find/math/1/au:+Keith_B/0/1/0/all/0/1" itemprop="sameAs">
		<i class="ai ai-arxiv ai-fw"></i> arXiv
	</a>
</li>

<li>
	<a href="https://orcid.org/0000-0002-6969-6857" itemprop="sameAs">
		<i class="ai ai-orcid ai-fw"></i> ORCID
	</a>
</li>